<h2>Editar funcionário</h2>
<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control mb-2" id="nome">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control mb-2" id="email">
    </div>
    <div class="form-group">
        <label for="cargo">Cargo</label>
        <input type="text" class="form-control mb-2" id="cargo">
    </div>
    <div class="form-group">
        <label for="salario">Salário</label>
        <input type="number" class="form-control mb-2" id="salario">
    </div>
    <div class="form-group">
        <label for="foto">Foto</label>
        <input type="url" class="form-control mb-2" id="foto">
    </div>
    <button type="submit" class="btn btn-dark">Editar</button>
</form>